
.ipynb_checkpoints/Task3-checkpoint.ipynb
.ipynb_checkpoints/test-checkpoint.csv
.ipynb_checkpoints/train-checkpoint.csv
.ipynb_checkpoints/Task3-checkpoint.ipynb
.ipynb_checkpoints/Task3-checkpoint.ipynb
